<div class="content-header">
    <div class="action-container content-header-extra pad-r-20">
        <a ng-if="edit_view" tooltip-placement="bottom" tooltip="Delete Category" class="action-btn action-btn-md action-btn-default" ui-sref="dashboard.programs.add_program" ui-sref-opts="{reload:true}">
            <i class="fa fa-trash text-danger"></i>
        </a>
   </div>
   <h2 class="content-title">
        <span class="main-title">
          <i class="fa {{edit_view ? 'fa-edit' : 'fa-plus-circle'}}"></i> {{edit_view ? 'Edit' : 'Add'}} Program
        </span>
   </h2>
</div>
<div class="content-control">
    <!--breadcrumb-->
    <div ncy-breadcrumb></div>
    <!--/breadcrumb-->
</div>
<div class="col-xs-12">
    <div ui-view="delete"></div>
    <div class="col-xs-12">
      <form name="program_frm"  ng-submit="save(program_frm)" novalidate>
        <div class="fade-content col-sm-10 col-sm-offset-1 margin-t-20 content-card">
          <drf-err-msg></drf-err-msg>
            <div class="col-sm-12 margin-t-20 margin-b-20">
              <div class="form-group">
                  <label class="control-label">Code<span class="text-danger">&#42;</span></label>
                  <input class="form-control" name="code" ng-model="program.code" required placeholder="Code" api-checker/>
              </div>
              <div class="form-group">
                  <label class="control-label">Name<span class="text-danger">&#42;</span></label>
                  <input class="form-control" name="name" ng-model="program.name" required placeholder="Name" api-checker/>
              </div>
              <div class="form-group">
                  <label class="">
                      Category <span class="text-danger">&#42;</span>
                  </label>
                  <select class="form-control" name="category" ng-model="program.category" api-checker required>
                      <option value="" disabled>Select Category</option>
                      <option ng-repeat="cat in categories" ng-selected="{{cat.id == program.category}}" value="{{cat.id}}">{{cat.name}}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label class="control-label">Number of Shipments per year<span class="text-danger">&#42;</span></label>
                  <input type="number" class="form-control" name="number_of_shipments_per_year" ng-model="program.number_of_shipments_per_year" required placeholder="Number of shipments per year" api-checker/>
              </div>
              <div class="form-group">
                  <label class="control-label">Size of Shipment<span class="text-danger">&#42;</span></label>
                  <input class="form-control" name="size_of_shipment" ng-model="program.size_of_shipment" required placeholder="Size of shipment" api-checker/>
              </div>
              <div class="form-group">
                  <label class="">
                      Shipment Unit <span class="text-danger">&#42;</span>
                  </label>
                  <select class="form-control" name="shipment_unit" ng-model="program.shipment_unit" api-checker required>
                      <option value="" disabled>Select Shipment Unit</option>
                      <option ng-repeat="unit in units" ng-selected="{{unit.id == program.shipment_unit}}" value="{{unit.id}}">{{unit.name}}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label class="control-label">Price<span class="text-danger">&#42;</span></label>
                  <input class="form-control" name="price" ng-model="program.price" required placeholder="Price" api-checker/>
              </div>
              <div class="form-group">
                  <label class="">
                      Sample Type
                  </label>
                  <select class="form-control" name="sample_type" ng-model="program.sample_type" api-checker>
                      <option value="" disabled>Select Sample Type</option>
                      <option ng-repeat="sample_type in sample_types" ng-selected="{{sample_type.id == program.sample_type}}" value="{{sample_type.id}}">{{sample_type.name}}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" name="description" ng-model="program.description" placeholder="Description" rows="2" api-checker></textarea>
              </div>
              <div class="form-group">
                  <label class="control-label">Compatibility Information</label>
                  <textarea class="form-control" name="compatibility_information" ng-model="program.compatibility_information" placeholder="Compatibility Information" rows="2" api-checker></textarea>
              </div>
              <div class="form-group checkbox">
                  <label>
                    <input type="checkbox" id="active" name="active" ng-model="program.active" tooltip="Check if Program is not retired" api-checker >
                    Active
                   </label>
              </div>
            </div>
        </div>
        <div class="fade-content col-sm-10 col-sm-offset-1 margin-t-20 content-card" style="padding: 0px;">
            <table class="table table-hover table-condensed col-xs-12">
              <thead class="grey-header">
                  <th class="col-md-8">Sample&#42;</th>
                  <th class="col-md-4 text-center">Active</th>
              </thead>
              <tbody>
                  <tr ng-repeat="prog_sample in program.samples">
                      <td class="col-xs-4">
                        <div class="form-group grid-inputs">
                          <select class="form-control" name="sample{{$index}}" ng-model="prog_sample.sample" api-checker>
                            <option value="" disabled>Select Sample</option>
                            <option ng-repeat="a_sample in samples" ng-selected="{{a_sample.id == prog_sample.sample}}" value="{{a_sample.id}}">{{a_sample.name}}</option>
                        </select>
                        </div>
                      </td>
                      <td class="col-xs-3 text-center">
                          <div class="form-group checkbox" ng-if="prog_sample.id">
                            <label>
                              <input type="checkbox" id="active_sample{{prog_sample}}" name="active_sample{{prog_sample}}" ng-model="prog_sample.active" tooltip-placement="bottom" api-checker>
                              Active
                             </label>
                          </div>
                          <a ng-show="!prog_sample.id" ng-click="removeSample(sample)" style="cursor: pointer;">
                              <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                          </a>
                      </td>
                  </tr>
                  <tr ng-if="option_group.options.length < 1" class="">
                      <td colspan="3">
                          <i class="fa fa-info-circle"></i> No Instrument Model added to Instrument
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="col-sm-10 col-sm-offset-1 pad-0 text-right margin-t-10 margin-b-10">
            <a class="btn btn-primary pull-right" ng-click="addSample()" >
                <i class="fa fa-plus-square-o"></i> Add
            </a>
        </div>
        <div class="pull-left col-md-10 col-md-offset-1 pad-0 margin-t-10 margin-b-20">
          <button class="btn btn-primary">Save</button>
          <a class="margin-l-10 btn btn-default margin-l-5" ui-sref="dashboard.programs">Cancel</a>
        </div>
      </form>
    </div>
</div>
