<div class="col-xs-12 content-card">
    <h4 class="lato-light margin-b-10 fs-20">
        Analytes List
    </h4>
    <table class="table table-hover table-condensed fs-14" id="no-more-tables">
        <thead>
            <tr>
                <th class="col-md-3">Name</th>
                <th class="col-md-3">Program</th>
                <th class="col-md-2">Unit</th>
                <th class="col-md-1 text-center">Active</th>
                <th class="col-md-2 text-center">Configuration</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody class="fade-content">
            <tr  ng-repeat="analyte in analytes">
                <td class="col-md-3 pad-t-15" data-title="Name:" class="pad-t-15">{{analyte.name}}</td>
                <td class="col-md-3 pad-t-15" data-title="Prgoram:" class="pad-t-15">{{analyte.program_name}}</td>
                <td class="col-md-3 pad-t-15" data-title="Name:" class="pad-t-15">{{analyte.unit_name}}</td>
                <td class="col-md-1 pad-t-15 text-center" data-title="Active">
                    <span ng-if="analyte.active" class="fa-stack fa-lg fs-14 text-success">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <span ng-if="!analyte.active" class="fa-stack fa-lg fs-14 text-danger">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-close fa-stack-1x fa-inverse"></i>
                    </span>
                </td>
                <td data-title="Actions:" class="col-md-2 text-center">
                    <a class="action-btn action-btn-grid action-btn-info" ui-sref="analyte_setup.analyte.edit_analyte({analyte_id: analyte.id})">
                        <i class="fa fa-gears"></i>
                    </a>
                </td>
                <td data-title="Actions:" class="col-md-1 text-right">
                    <a class="action-btn action-btn-grid action-btn-success" ui-sref="dashboard.analytes.edit_analyte({analyte_id: analyte.id})" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <sil-grid-pagination> </sil-grid-pagination>
</div>
