<nav class="header navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header margin-t--10">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="dashboard"><img class="" src="assets/images/Konza_Techno_City_Logo.png" width="80px" height="60px" alt="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right margin-t-10">
        <li ui-sref-active="active"><a ui-sref="dashboard">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="lab_instruments">Showcase</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Begining of bootstrap header -->
<!-- <nav class="header border-nav text-white navbar navbar-default navbar-fixed-top">
  <div class=""> -->
    <!-- Brand and toggle get grouped for better mobile display -->
 <!--    <div class="navbar-header">
      <button id="expand_main_menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#links">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="dashboard"><img class="w100" src="assets/images/logo.png" alt="logo"></a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="links">
      <ul class="nav navbar-nav navbar-left header-color">
        <li ui-sref-active="active">
          <a ui-sref="dashboard">Home</a>
        </li>
         <li ui-sref-active="active" ng-if="user.is_staff">
          <a ui-sref="labs">Labs</a>
        </li>
        <li ui-sref-active="active" ng-if="!user.is_staff">
          <a ui-sref="lab_instruments">Instruments</a>
        </li>
        <li ui-sref-active="active" ng-if="!user.is_staff">
          <a ui-sref="lab_programs">Programs</a>
        </li>
         <li ui-sref-active="active" ng-if="!user.is_staff">
          <a ui-sref="results">Results</a>
        </li>
        <li ui-sref-active="active" ng-if="!user.is_staff">
          <a ui-sref="reports">Reports</a>
        </li>
        <li ui-sref-active="active" ng-if="user.is_staff">
          <a ui-sref="coa">COA</a>
        </li>
        <li ui-sref-active="active" ng-if="user.is_staff">
          <a ui-sref="users">Users</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right header-color">
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              <span class="profile-username text-center"><i class="fa fa-user"></i> {{user.first_name}} {{user.last_name}}</span>
              <span class="fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu animated dropdown-width" role="menu">
              <li><a ui-sref="profile.basic"><i class="fa fa-cog"></i> Profile</a></li>
              <li><a ui-sref="logout" ><i class="fa fa-sign-out"></i> Log Out</a></li>
            </ul>
          </li>
          <li ui-sref-active="active" >
              <a ui-sref="about" id="about">Help</a>
          </li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- End of bootstrap header -->
